@charset "UTF-8";

.header_util{
	position:relative;
	width:100%;
	height:80px;
	border-bottom:1px solid #ccc;
	margin-bottom: 20px;
}
.util-link{
	position:absolute;
	top:0;
	left:54%;
	font-size: 0.5rem;
	display:flex;
	width:46%;
}
.util-link li{
	margin-right:20px;
}
.util-link li a{
	font-size: 0.9rem;
}

 
header {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    word-break: keep-all;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    color: #1D1D1D;
    background-color: #F8F8F8;
    border-bottom: 1px solid #C6C6C6;
}
header nav h1{
	cursor:pointer;
}

header nav{
	 position:relative;
	 display: flex;
}
.header_gnb{
	margin-left:40px;
	width: 40%;
	border:1px solid red;
	font-weight: bold;
}
.header_gnb a{
	margin-right: 20px;
}

header a {
    font-family: 'notokr-medium';
    position: relative;
    display: inline-block;
    color: #1D1D1D;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

header a:hover {
    color: #4D4D4D;
}

header a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #1D1D1D;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

header a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.header_gnb {
    margin-top: 1rem;
}



.header_search .btn_icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ccc;
    background-image: url(images/header/find_btn.png);
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 4px;
}

.login_join_box {
	position: absolute;
	top:50px;
	right:0px;
    margin-left: auto;
}

.artwork,
.notice {
    margin-top: 1rem;
}

.sub-menu a {
    margin-right: 1rem;
}

 