@charset "UTF-8";

.middle{
	left:10px;
	padding:10px;
	
	
}

.joinForm{
	
	 width:800px;
	height:500px;
	margin:0 auto;
	padding:70px 20px 70px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 2px solid black;
    background-color:#fff3ee;
   
}

article form h2{
	line-height:nomal;
	font-size:40px;
	
}

article form .field{
	display: flex;
	margin:5px 5px;
}


article form .field input{
	margin-left:10px;
	padding: 3px;
    border-radius: 3px;
    border: 1px solid #AAA;
}

