@charset "UTF-8";

#main-center {
    position: relative;
    width: 70%; /* Adjusted to your requirement */
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#main-center-imgs {
    position: relative;
    width: 100%; /* Adjusted to fit the container width */
    height: 100%; /* Adjusted to fit the container height */
    display: flex;
    transition: left 1s; /* Smooth transition */
}

#main-center-imgs img {
    width: 100%; /* Ensure each image takes up 70% of the container */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the images horizontally */
}

#main-center-remote {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 15px; /* Adjusted to be 10px from the bottom */
    left: 470px;
    display: flex;
    justify-content: center; /* Center the navigation dots */
}

#main-center-remote div {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: 15px 7px;
    text-align: center;
    line-height: 17px;
    font-weight: bold;
    cursor: pointer;
    border:1px solid #ccc;
}

#main-center-remote .selected {
    background: #ccc;
    border: 1px solid #ccc;
}
