@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing:border-box;}


body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  line-height: 1;
}
button {border: none; background: none; cursor: pointer;}

a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
}
.clearfix::after{
  content: " ";
  display: block;
  clear: both;
}
.ir_pm{
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
}
fieldset{
  border: none;
}
.screen_out{
  position: absolute;
  top: -9999em;
}

ul, ol {list-style-type: none;}

.modal{
  position: fixed;
  top: 0; left: 0;
  width: 100%;height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 99;
  display: none;
}
