@charset "UTF-8";

.qna-view {
	display: flex;
	flex-direction: column;
	margin: 0 10rem;
}

.qna-view_title {
	display: flex;
	justify-content: space-between;
}

.qna-view_title>h1 {
	margin: 2rem 0 4rem 1rem;
}

.qna-view_title>a {
	margin: 4.5rem 0 0 0;
}

.qna-view_submit {
	background: transparent;
	padding: 0.25rem 2em;
	border-radius: 0.25rem;
	margin: auto 1rem 1rem 1rem;
	border: 0;
	font-size: 1rem;
	box-shadow: 0.125rem 0.125rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s;
}

.qna-view_header {
	border-top: 1px solid #222;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
}

.qna-view_header>h1 {
	font-size: 2rem;
	margin: 1rem 0 1rem 1rem;
}

.qna-view_header>ul {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.1rem;
	color: #444;
}

.qna-view_header>ul>li {
	margin: 0.5rem 1rem;
}

.qna-view_content {
	padding: 2rem 1rem;
	border-bottom: 1px solid #ccc;
}

.qna-view_reply {
	padding: 2rem 1rem;
	margin-bottom: 3rem;
}

.qna-view_reply>h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.qna-view_reply_no {
	font-size: 1.5rem;
	color: #666;
}

.qna-view_reply textarea {
	width: 100%;
	height: 8rem;
	font-size: 1rem;
	padding: 0.25rem;
	resize: none;
	border-color: #ccc;
	border-radius: 0.5rem;
}

.qna-view_reply input[type=submit] {
	width: 100%;
	font-size: 1.25rem;
	cursor: pointer;
	transition: all 1s;
}

.qna-view_reply input[type=submit]:hover {
	color: #0A0;
	border-color: #0A0;
	transition: color 0.3s;
}

.qna-view_edit {
	background: transparent;
	padding: 0.25rem 2em;
	border-radius: 0.25rem;
	margin-right: 2rem;
	border: 0;
	font-size: 1rem;
	box-shadow: 0.125rem 0.125rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s;
}

.qna-view_edit:hover {
	box-shadow: 0.125rem 0.125rem 0.5rem 0.5rem rgba(52, 234, 19, 0.2);
}